body {
  background-color: aquamarine;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
margin: auto;
margin-top: 20vh;
border: 3px solid black ;
border-radius: 10px;
max-width: 500px;
height: 70vh;
background-color: white;
}

.message {
  border: 3px solid black ;
  max-width: 300px;
  text-align: center;
  margin: auto;
}